.contact {
    padding: 1px 1px;
    text-align: center;
    background-color: #ebe013;
}

.contact h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.contact-links {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.contact-link {
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem 1rem;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contact-link i {
    font-size: 1.5rem;
}

.contact-link:hover {
    color: #fff;
    background-color: #333;
    border-color: #333;
}