.home {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.home-content {
    max-width: 50%;
    font-size: 2.0rem;
}

.highlight {
    color: #ff0;
}

.hire-me {
    padding: 10px 20px;
    background-color: #ff0;
    border: none;
    cursor: pointer;
}

.home-image img {
    width: 450px;
    height: 450px; /* Set height to make the image square */
    object-fit: cover; /* Ensure the image covers the area without distortion */
    border-radius: 0; 
}
